/* Colors */
:root {
    --main-color : #E0AB2B;
    --secondary-color : black;
}

/* General */
* {
    border-collapse: collapse;
}

/* Titles */

h1, h2, .episode_text, .season_text {
    font-family: battery-park, sans-serif ;
    color: var(--main-color);
}

h1 {
    font-size: 4.5em;
    margin-top : 0;
}

h2 {
    font-size: 2em;
}

p, a, span {
    font-family: pressio-condensed, sans-serif;
    color : var(--secondary-color);
}

/* Background */
body {
    background-image: url(../image//bb_caravan1.jpg);
    
}

/* Header */
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding : 2em;
}

header input {
    padding: 0.5em 1em;
    border: 2px solid var(--main-color);
    background: transparent;
    font-family: pressio-condensed, sens-serif;
    color: var(--main-color);
}

header input::placeholder {
    color: var(--main-color);
}



/* Aside links */
.links {
    height : 100vh;
    color: var(--main-color);
}

.links a {
    transform: rotate(-90deg);
}

/* Main content */
.main {
    display : flex;
}

/* Characters */
.characters {
    display: flex;
}

.character {
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 19vw;
    height : 39vh;
    border: 2px solid var(--main-color);
}

.character_name {
    width : 5em;
}

.chemistry_tab {
    width : 90px;
    height: 90px;
    border: 2px solid var(--main-color);
    border-collapse: collapse;
    position: absolute;
    right: 0;
    bottom : 0;
    background-color: rgba(0, 0, 0, .5);
}

.chemistry_letter_1, .chemistry_letter_2, .chemistry_number {
    color: var(--main-color);
}

.chemistry_number {
    text-align: right;
}

.chemistry_letter_1 {
    font-size: 2em;
}

.chemistry_letter_2 {
    font-size: 1.3em;
}

/* Episodes */
.episode {
    display: flex;
}

.season_text {
    font-size : 7em;
}

.episode_tab {
    width: 120px;
    height: 120px;
    border: 2px solid var(--main-color);
    background-color: rgba(0, 0, 0, .5);
}

.episode_text {
    font-size : 4em;
}




    
